<input
  #origin
  [formControl]="searchControl"
  [placeholder]="placeholder"
  (focus)="open(dropdown, origin); onTouched()"
/>

<ng-template #dropdown>
  <cdk-virtual-scroll-viewport
    id="dropdown"
    itemSize="32"
    [style.height.px]="visibleOptions * 32"
  >
    <div *ngIf="options.length === 0" class="option">
      No results found...
    </div>

    <div
      *cdkVirtualFor="let option of options"
      class="option"
      [ngClass]="{ active: isActive(option) }"
      (click)="select(option)"
    >
      {{ option.value }}
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
